.project-main-content{
    margin-top: 100px;
    border-radius: 8px;
    background: rgb(39 39 42 / var(--tw-bg-opacity));
}

.project-main-content h1{
    color:#1976d2;
    font-size: 2rem;
}
.project-main-content .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 3px 18px;
}

.project-card {
    margin-bottom: 20px;
    min-width: 362px;
    max-width: 362px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    background-clip: padding-box;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
}

.project-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    object-fit: cover;
    display: -webkit-inline-flex;
}

.project-content {
    padding: 1.5rem;
}

.project-content h3 {
    margin: 0 0 1rem 0;
    color: #333;
    font-size: 1.25rem;
}

.project-content p {
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.project-details-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-details-btn:hover {
    background-color: #1565c0;
}

@media (max-width: 768px) {
    .projects-grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3px;
    }
    
    .project-card {
        margin: 10px;
        max-width: -webkit-fill-available;
        min-width: fit-content;
    }
    .project-content{
        padding: 1.5rem;
    }
}
