.social-media-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.social-media-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 8px 12px 8px 16px;
  width: 48px;
  min-width: 48px;
  overflow: visible;
  transition: background 0.2s;
  position: relative;
}

.social-media-link i {
  font-size: 24px;
  margin-right: 10px;
  z-index: 2;
  cursor: pointer;
}

.social-media-label {
  opacity: 0;
  width: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  margin-left: 0;
  background: inherit;
  position: absolute;
  left: -86px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  pointer-events: none;
  align-content: space-evenly;
}

.social-media-link i:hover + .social-media-label,
.social-media-link:focus-within .social-media-label {
  opacity: 1;
  width: 100px;
  max-width: 120px;
  height: 40px;
  pointer-events: auto;
}

@media (max-width: 768px) {

  .social-media-bar {
    display: none;
  }
}